@config "../tailwind.config.js";

/* DM Sans (Variable) */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

/* Playfair Display (Variable) */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@import "tailwindcss";